$white: #fff; // background + button color
$lightGreen: #def4c6; // background
$darkGreen: #0d8544; // button

// Couleur du logo Les Cols verts
$logoWhite: #fffbf8;
$logoOrange: #e96011;
$logoLightOrange: #f39412;
$logoDarkGreen: #36ac3e;
$logoLightGreen: #39b542;

// Charte MOOC
$moocBlue: #1c3b45;
$moocWhite: #fff2df;
$moocGreen: #33b282;
$moocRed: #ba4024;

// Charte Cols verts
$brown: #473131; // title
$orange: #ed721b; // button // used also in the Pin.svg
$yellow: #ffd100;
$lightBrown: #5b3e34;
$grey: #d9d9d9;
